* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	box-sizing: border-box;
	vertical-align: baseline;
}

body {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: calc(32/16)rem;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}