// This sass partial is for large sizes like desktops
@media only screen
    and (min-width: 768px)
    and (max-width: 1600px) {
    	
    .font-headline {
        font-size: 7.9rem;
    }

    .font-text {
        font-size: 2rem;
    }

    .font-footer {
        font-size: 1rem;
    }
}