// This sass partial is specifically for mobile design
body {
	position: relative;
	background-image: url('./img/kohi-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nav-overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: $overlay-color;
	transition: 0.5s;

	.nav-overlay-close {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 1.2rem;
		font-size: 3.5rem;
	}

	.nav-overlay-close:hover {
		color: $hover-color;
	}

	.nav-overlay-content {
		position: relative;
		font-weight: 600;
		margin-top: 6.5rem;
		margin-left: 4rem;
		text-align: left;

		li {
			cursor: pointer;
			margin-bottom: .9rem;
			color: $text-color;
			transition: color .3s;
		}

		li:hover {
			color: $hover-color;
		}
	}
}

.wrapper { 
	
	nav {
		display: none;
	}
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $cover-color;
}

.nav-burger {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 1rem;
	padding-right: .1rem;
}

.menu-headline {
	padding-bottom: 2.5rem;
}

.menu > div {
	text-align: left;
	padding-bottom: 2.5rem;

	li {
		margin-bottom: .2rem;
	}
}

.about-desc {
	text-align: left;
	line-height: 1.5;
}